<h1>Edit Language</h1>

<form action="/languages" method="post">
  <input type="text" name="name" value="<%=language.name%>">
  <button type="submit">Update Language</button>
</form>
<a href="/languages/<%= language.id %>"><button> BACK</button></a> 
