<h1>Update Resource</h1>

<form action="/languages" method="post">
  <input type="text" name="name" value="<%= resource.name%>">
  <input type="text" name="link" value="<%= resource.link%>">
  <button type="submit">Update Resource</button>
</form>
<a href="/languages"><button>HOME</button></a>
