<h1>Add Resource</h1>

<form action="/languages/<%=language.id%>/resources" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="link" placeholder="Link">
  <button type="submit">Add Resource</button>
</form>
<a href="/languages"><button>HOME</button></a>
