<!DOCTYPE html>
<html>
<head>
	<title>Web Dev Proj</title>
	<!-- Google Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

<!-- CSS Reset -->
<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

<!-- Milligram CSS minified -->
<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

<!-- You should properly set the path from the main file. -->
	<!-- <script type="text/javascript" src="/js/jquery.min.js"></script> -->
</head>
<body>
	<div class="container">
		<%- body %>
	</div>
</body>
</html>
